<div class="flex flex-col items-center w-[100%] max-w-[1400px]">
    <h1 style="color:#058438bd" class="text-[25px] mt-[30px] mb-[20px] translate-y-[-100%] opacity-0 obs" [@flyFromTop]="isVisible?'in':'void'">{{visionHeading}}</h1> 
    <div class="flex justify-center flex-wrap">
        @for(heading of visionCardHeading;track heading;let idx=$index){
            <app-vision-card class="w-[370px]" [visionCardHeading]="heading" [visionCardBody]="visionCardContent[idx]"></app-vision-card>
          }
    </div>
</div>