/* #bg-img-cont{
    background-image:url("../../public/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width:100%;
    height:600px;
} */

#bg-img-cover{  
    background:white;   
    width:100%;
    height: 100%;
    
}