#bg-img-cont{
    background-image:url("../../public/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width:100%;
    height:600px;
}

#bg-img-cover{  
    background: linear-gradient(to right, rgba(255, 255, 255,0.6), rgba(255, 255, 255,0));   
    width:100%;
    height: 100%;
    
}