<nav appBackgroundColor class="w-full h-[10%]">
   <div class="flex justify-between h-full items-center">
       <div class="ml-[80px] text-[25px]">
           <h1>{{"Impetus Consulting" | uppercase }}</h1>
       </div>
       <div class="mr-[80px]">
          <ul class="flex">
             <li *ngFor="let listItem of listItems" class="list-none cursor-pointer mr-5">
                <a href="#">
                    {{listItem | titlecase}}
                </a>
            </li>
          </ul>
       </div>
   </div>
</nav>
