<div class="w-full max-w-[1400px] flex justify-center">
   <div class="flex flex-col justify-center pl-[130px] items-start text-[#058438bd] text-[16px]">
      <div class="text-[#058438bd] mb-[10px] text-[18px]">How can we help you?</div>
      <div class="text-[25px] text-[#058438bd] mb-[10px]">Contact Us</div>
      <div class="text-[#058438bd] mb-[10px] w-[80%] text-[18px] leading-[23px]">We're here to help and answer any questions you might have.We look forward to hearing from you!</div>
      <div class="flex flex-col justify-start items-start text-[#058438bd]">
        <div class="mb-[10px] mt-[10px]">
            <span class="inline-block mr-[10px]"><i class="fa-solid fa-location-dot text-[#058438bd]"></i></span>
            <span class="text-[#058438bd]  text-[18px]">{{location}}</span>
        </div>
        <div class="mb-[10px]">
            <span class="inline-block mr-[10px]"><i class="fa-solid fa-phone text-[#058438bd]"></i></span>
            <span class="text-[#058438bd] text-[18px]">{{phoneNumber}}</span>
        </div>
        <div class="mb-[10px]">
            <span class="inline-block mr-[10px]"><i class="fa-regular fa-envelope text-[#058438bd]"></i></span>
            <span class="text-[#058438bd] text-[18px]">{{email}}</span>
        </div>
      </div>
   </div>
   <div class="pr-[90px]">
    <app-contact-img></app-contact-img>
   </div>
</div>
