<div class="about-us max-w-[1400px] w-[100%] flex flex-col items-center">
    <h1 class="text-[25px] mt-[30px] mb-[20px]">About Us</h1>
    <section class="w-[70%] text-[18px] text-center mt-[10px] mb-[50px] max-w-[1200px]">
        Lorem ipsum dolor, sit amet consectetur adipisicing 
        elit. Error necessitatibus similique perferendis eius
         debitis consectetur ut excepturi dolorum, laboriosam
          ducimus magnam voluptate, impedit facilis, unde 
          ratione laborum fugit perspiciatis repellendus 
          aliquid! Dolores deleniti fugiat cum excepturi 
          accusamus molestias. Sapiente, officia.
    </section>
</div>
